@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*@import url('https://fonts.googleapis.com/css?family=Nunito');*/
@import url('https://fonts.googleapis.com/css?family=Questrial');
/*////////////////////*/
/*////////////////////*/
/*////////////////////*/
/*// Home Template // */
/*////////////////////*/
/*////////////////////*/
#home {
  font-family: 'Quicksand', sans-serif;
  /* SECTION 1*/
  /*Handles the Jumbotron */
  /* GREETINGS SCREEN/ABOUT ME SCREEN*/
  /* SECTION 3  PROJECTS*/
  /* SECTION 4 */
}
#home * {
  margin: 0;
  padding: 0;
}
#home body {
  height: 100vh;
  width: 100vh;
}
#home .center-text {
  text-align: center;
}
#home .small-padding-top {
  padding-top: 2vh;
}
#home .small-padding-bottom {
  padding-bottom: 2vh;
}
#home .small-padding-left {
  padding-left: 2vh;
}
#home .small-padding-right {
  padding-right: 2vh;
}
#home .bold-text {
  font-weight: bolder;
}
#home .parallax {
  -webkit-perspective: 1px;
  perspective: 1px;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
#home .parallax__layer {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#home .parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}
#home .parallax__layer--back {
  height: 100vh;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  text-align: center;
  vertical-align: -250px;
  overflow: hidden;
  z-index: 0;
}
#home .parallax__layer--deep {
  -webkit-transform: translateZ(-2px) scale(3);
  transform: translateZ(-2px) scale(3);
}
#home .parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#home .parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1;
  width: 100%;
}
#home .parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}
#home .jumbo-title {
  font-weight: bolder;
  font-size: 10vh;
  color: white;
  padding-top: 10vh;
  font-family: 'Questrial', sans-serif;
}
#home .menu-bar {
  width: 100%;
  height: 9.6vh;
  position: fixed;
  font-size: 10vh;
  color: white;
}
#home .menu-bar .menu-item {
  padding-top: 4vh;
  padding-left: 4vh;
  padding-bottom: 5vh;
  padding-right: 4vh;
  font-family: 'Questrial', sans-serif;
  font-size: 2.5vh;
}
#home .menu-bar .menu-item:hover {
  padding-top: 4vh;
  padding-left: 4vh;
  padding-bottom: 5vh;
  padding-right: 4vh;
  font-family: 'Questrial', sans-serif;
  font-size: 2.5vh;
  opacity: 0.5;
  cursor: pointer;
}
#home .menu-bar .menu-item-strong {
  padding-top: 4vh;
  padding-left: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vh;
  font-family: 'Questrial', sans-serif;
  font-size: 2.5vh;
  font-weight: bolder;
}
#home .group-opener .back {
  height: 90vh;
  background: url('images/water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -1vh;
  margin-top: -14vh;
  z-index: 4;
}
#home .group-opener .base {
  height: 80vh;
  z-index: 5;
}
#home .group1 .back {
  padding-top: -10vh;
  z-index: 3;
  width: 100%;
}
#home .group1 .base {
  margin-top: -15vh;
  background: white;
  border-bottom: #0e191d 20px solid;
  height: 100vh;
  z-index: 4;
}
#home .group2 .back {
  padding-top: -10vh;
  z-index: 3;
  width: 100%;
}
#home .group2 .base {
  background: white;
  margin-top: -15vh;
  border-bottom: #0e191d 20px solid;
  height: 100vh;
  z-index: 4;
}
#home .group3 .back {
  height: 100vh;
  padding-top: 1vh;
  z-index: 2;
  margin-left: -2vh;
  margin-bottom: -20vh;
  margin-left: -30vh;
}
#home .group3 .base {
  z-index: 3;
  background-color: #f1f3f0;
  /* fallback color if gradients are not supported */
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  /* For Firefox (3.6 to 15) */
  /* For old Opera (11.1 to 12.0) */
  background: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(#f1f3f0), to(#e5e7e4));
  background: linear-gradient(0, #f1f3f0, #e5e7e4);
  /* Standard syntax; must be last */
  margin-top: -20vh;
  padding-top: 4vh;
  font-family: 'Questrial', sans-serif;
  z-index: 1;
}
#home .group4 {
  /*background:@darker-grey;*/
  background: url('images/waves01.jpg');
  background-position: 60% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20vh;
  height: 170vh;
}
#home .group5 {
  z-index: 100;
  height: 40vh;
  font-family: 'Quicksand', sans-serif;
  background: black;
  color: white;
  position: absolute;
  height: 50vh;
  width: 100%;
  text-align: center;
  padding: 2vh;
}
#home .about-me-sec {
  height: 40vh;
  width: 40vh;
}
#home .btn-primary {
  color: black;
  width: auto;
  padding: 1vh;
  margin: 2vh;
  border: none;
  font-size: 2vh;
  background-color: white;
  color: #9ca9b0;
  border: #9ca9b0 solid 1px;
}
#home .btn-primary:hover {
  opacity: 0.5;
}
#home .jumbo-title {
  padding-top: 26vh;
  color: black;
  font-size: 12vh;
}
#home .page-desc {
  color: black;
  margin-top: 29vh;
  height: auto;
  font-size: 2vh;
}
#home .page-desc-center-padding {
  margin-top: 42vh;
  height: auto;
  font-size: 2vh;
}
#home .page-desc-extra-padding {
  color: black;
  padding-top: 56vh;
}
#home .page-desc-less-padding {
  color: black;
  padding-top: 56vh;
}
#home .footer-wrapper {
  height: 40vh;
  background-color: black;
  margin-top: 10vh;
  position: bottom;
  font-family: 'Questrial', sans-serif;
}
#home .top-bottom-border {
  border: #9ca9b0 1px solid;
}
#home .light-grey-background {
  background: ;
}
#home .contact {
  border: #9ca9b0 1px solid;
  height: 50vh;
  background: white;
}
#home .contact-filler {
  height: 50vh;
  padding-top: 18vh;
}
#home .contact-section {
  padding: 2vh;
  margin: 5%;
  margin-bottom: 2%;
}
#home .contact-name {
  width: 40%;
}
#home .contact-email {
  width: 40%;
}
#home .contact-message {
  width: 90%;
}
#home #section-contact {
  margin-top: -15vh;
  padding-top: 4vh;
  z-index: 1;
}
#home #section-info {
  background: url('images/tower01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home .section-title {
  font-size: 8vh;
  color: black;
  font-family: 'Questrial', sans-serif;
}
#home #opening-quote1 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #opening-quote2 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #opening-quote3 {
  opacity: 0;
  font-size: 8vh;
}
#home #ending-quote1 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #ending-quote2 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #ending-quote3 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #ending-quote4 {
  opacity: 0;
  font-size: 2.5vh;
}
#home #ending-quote5 {
  opacity: 0;
  font-size: 7vh;
  color: white;
}
#home #about-me-par {
  background: white;
  color: black;
  opacity: 0.2;
  padding: 2vh;
  width: auto;
}
#home .project {
  border: #121f25 5px solid;
  margin-bottom: 5vh;
  margin-top: 5vh;
  color: black;
  background: white;
  opacity: 0.1;
}
#home .project .title {
  font-size: 6vh;
  padding-left: 2vh;
  padding-top: 2vh;
  padding-bottom: 0vh;
  width: 95%;
  margin-left: 2vh;
  margin-right: 2vh;
  text-align: left;
  font-family: 'Questrial', sans-serif;
  border-top: 5px white solid;
  border-bottom: 5px solid black;
  border-left: 5px white solid;
}
#home .project .picture-left {
  width: 50%;
  height: 45vh;
  border: black 5px solid;
}
#home .project .picture-right {
  width: 50%;
  height: 45vh;
  border: black 5px solid;
}
#home .project .content {
  font-size: 2vh;
  padding: 1vh;
  text-align: left;
  height: 100%;
  width: 100%;
}
#home #picture-ukulele-left {
  background: url('images/ukulele03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
#home #picture-ukulele-right {
  background: url('images/ukulele02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
}
#home #picture-trakrecord-left {
  background: url('images/water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
}
#home #picture-trakrecord-right {
  background: url('images/waves01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
}
#home .font-black {
  color: black;
}
#home .font-white {
  color: white;
}
#home .font-blue-grey {
  color: #123a49;
}
#home .font-blue-grey {
  color: #a9cfe2;
}
